---
DisableFormat: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
CommentPragmas: '^ IWYU pragma:'
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: None
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
ReflowComments: false
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: Custom
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: C++03
UseTab: AlignWithSpaces

ColumnLimit: 79
ContinuationIndentWidth: 8
IndentWidth: 8
MaxEmptyLinesToKeep: 1
TabWidth: 8

BraceWrapping:
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true

SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: false
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: false
  AfterIfMacros: true
  AfterPlacementOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false

ForEachMacros:
  - 'wl_list_for_each'

IncludeCategories:
  - Regex: '.*'
    Priority: 1

PenaltyBreakBeforeFirstCallParameter: 700
PenaltyBreakComment: 100
PenaltyReturnTypeOnItsOwnLine: 900
PenaltyBreakAssignment: 200
PenaltyBreakOpenParenthesis: 600
PenaltyBreakString: 1000
PenaltyExcessCharacter: 10
...
